.model_accuracy {
	font-size: 24px;
    font-weight: 400;
	color: var(--color-2);
}

.model_accuracy_value {
	font-size: 48px;
	font-weight: 800;
}

.model_accuracy_percent {
	font-size: 32px;
	font-weight: 800;
}